VITE_SUPABASE_URL=https://lytnfuecidlecnqlchbl.supabase.co
VITE_SUPABASE_ANON_KEY=yJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5dG5mdWVjaWRsZWNucWxjaGJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNTAzMDksImV4cCI6MjA5NDgyNjMwOX0.kG65zQkRNBA_R-JU_0Pal7A9Z90ZYhQPeJhd_9imiro
VITE_APP_NAME=SecureVote
